img{
    width: 70%;
    margin: auto;
}

p{
    font-size: 25px;
}
.h1{

}

h1 a {
    color: red;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 5px;
    

}
#note{
    font-style: italic;
    padding: 0;
    margin-top: 0;
}

h2 {
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;

    width: 200px;
    margin: 5px auto;
}

#a{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: red;
    margin: 5px;
    font-size: 25px;
}
#b{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: red;
    margin: 5px;
    font-size: 25px;
}
#c{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: red;
    margin: 5px;
    font-size: 25px;
}

#d{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: red;
    margin: 5px;  
    font-size: 25px;
}

#e{
    padding: 20px;
    border-radius: 5px;
    background-color: black;
    color: red;
    margin: 5px;
    font-size: 25px;


}
body {
    margin: auto;
    text-align: center;
}
